<!-- footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="logo logo_light"><a href="#">New Digital</a></div>

      <ul class="menu menu_footer">
        <li class="menu-item">
          <a href="#header" class="menu-item__link scrollto">Home</a>
        </li>
        <li class="menu-item">
          <a href="#aboutUs" class="menu-item__link scrollto">About us</a>
        </li>
        <li class="menu-item">
          <a href="#whyUs" class="menu-item__link scrollto">Why Us?</a>
        </li>
        <li class="menu-item">
          <a href="#faq" class="menu-item__link scrollto">FAQ</a>
        </li>
        <li class="menu-item">
          <a href="#contact" class="menu-item__link scrollto">Contact</a>
        </li>
        <li class="menu-item">
          <a href="#postNow" class="menu-item__link scrollto">Post Now</a>
        </li>
      </ul>

      <ul class="social social_footer">
        <li class="social__item"><a href="#" class="icon icon_fb1"></a></li>
        <li class="social__item"><a href="#" class="icon icon_ggl1"></a></li>
        <li class="social__item"><a href="#" class="icon icon_tw1"></a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- end footer -->