<!-- header -->
<header id="header" class="header">
  <div class="header-top">
    <div class="container group">
      <ul class="social social_header">
        <li class="social__item"><a href="#" class="icon icon_fb"></a></li>
        <li class="social__item"><a href="#" class="icon icon_ggl"></a></li>
        <li class="social__item"><a href="#" class="icon icon_tw"></a></li>
      </ul>
      <div class="contact contact_header">
        <a href="#" class="contact-item">
          <span class="contact-item__icon"><i class="icon icon_skype"></i></span>
          <span class="contact-item__txt">Personalskype</span>
        </a>
        <a href="mailto:info@personalmail.com" class="contact-item">
          <span class="contact-item__icon"><i class="icon icon_message"></i></span>
          <span class="contact-item__txt">info@personalmail.com</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container group">

    <div class="logo logo_header"><a href="#">New <span>Digital</span></a></div>

    <div class="head-menu">
      <div class="burger-menu">
        <div class="burger-menu-box">
          <div class="burger-menu-inner"></div>
        </div>
      </div>


      <div class="menu-wrapper-fixed">
        <div class="menu-open-wrapper">

          <nav class="header-nav">
            <ul class="menu">
              <li class="menu-item">
                <a href="#header" class="menu-item__link scrollto">Home</a>
              </li>
              <li class="menu-item">
                <a href="#aboutUs" class="menu-item__link scrollto">About us</a>
              </li>
              <li class="menu-item">
                <a href="#whyUs" class="menu-item__link scrollto">Why Us?</a>
              </li>
              <li class="menu-item">
                <a href="#faq" class="menu-item__link scrollto">FAQ</a>
              </li>
              <li class="menu-item">
                <a href="#postNow" class="menu-item__link scrollto">Post Now</a>
              </li>
              <li class="menu-item">
                <a href="#blog" class="menu-item__link scrollto">Blog</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
</header>
<!-- end header -->